[Unit]
Description=Enviro Display and MQTT Client
After=network.target

[Service]
ExecStart=/usr/bin/python -m rpi_enviro_monitor.app
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
